a>.card {
    transition: all 0.5s ease-in-out;
}

a:hover>.card {
    transform: scale(1.1);
    background-color: green;
    color: white;
}

@media screen and (max-width:767px) {
    #detail iframe {
        height: auto;
    }

    #detail h5 {
        font-size: 4vw;
    }

    #detail p {
        font-size: 3vw;
    }
}