#App {
    height: 500vh;
}

#jumbotron .btn-join {
    margin-top: 10px;
    border-radius: 30px;
}

#about {
    margin-top: 5vw;
}

#about .text-about {
    text-align: justify;
}

#about .img-about {
    width: 30vw;
}

#feature .card {
    border-radius: 15px;
    height: 20vw;
}

#feature .img-feature {
    margin-top: -8vw;
    width: 13vw;
}

/* Tablet */
@media screen and (max-width:992px) {
    #about .text-about {
        font-size: 1.3vw;
    }

    #about .img-about {
        width: 30vw;
    }

    #feature .card {
        height: 30vw;
    }

    #feature p {
        font-size: 1.3vw;
    }
}

/* HP */
@media screen and (max-width:767px) {
    #about .text-about {
        font-size: 3vw;
    }

    #about .img-about {
        width: 30vw;
    }

    #feature .card {
        margin-top: 5vw;
        height: 50vw;
    }

    #feature p {
        font-size: 3vw;
    }

    #feature .img-feature {
        margin-top: -20vw;
        width: 30vw;
    }
}