#course .card {
    border-radius: 30px;

}

#course .card-body {
    height: 200px;
}

#course .card .row {
    height: 60%;
}

#course .card .d-grid {
    height: 20%;
}

#course .btn {
    font-weight: bold;
    border-radius: 30px;
}

@media screen and (max-width:767px) {
    #course .card-body {
        height: auto;
    }

    #course .card .row {
        height: auto;
    }

    #course .card .d-grid {
        height: auto;
    }

    #course .card-title {
        font-size: 3vw;
    }

    #course .card-text {
        font-size: 2vw;
    }

    #course .btn {
        font-size: 3vw;
    }
}

@media screen and (max-width:992px) {


    #course .card-title {
        font-size: 2vw;
    }

    #course .card-text {
        font-size: 1.5vw;
    }

    #course .btn {
        font-size: 2vw;
    }
}