.navbar {
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

.navbar-collapse {
    justify-content: end;
}

.nav-link {
    font-size: 1vw;
    font-weight: bold;
}

.nav-btn {
    font-size: 1vw;
    font-weight: bold;
    border-radius: 30px;
}

@media screen and (max-width:994px) {
    .nav-btn {
        font-size: 3vw;
    }

    .navbar-nav {
        padding-left: 2rem;
    }

    .nav-link {
        font-size: 3vw;
    }
}